*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center; /*  alinha no eixo horizontal */
    align-items: center; /* alinha no eixo vertical */
    background-image: url("https://images.unsplash.com/photo-1495757450029-09dbedacbc36?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.main-container{
    background: #000000;
    opacity: 0.5;
    border-radius: 20px;
    padding: 20px;
}

input{
    border: none;
    outline: none; /*borda que fica ao redor da caixa de pesquisa*/
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
    background-color: #7c7c7c2b;
    color: #ffffff;
    width: calc(100% - 100px);
}

.img-btn{
    
}