*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center; /*  alinha no eixo horizontal */
    align-items: center; /* alinha no eixo vertical */
    background-image: url("https://img.freepik.com/free-vector/sunny-weather-background-vector-brown-with-cute-doodle-illustrations_53876-105740.jpg?t=st=1730309445~exp=1730313045~hmac=f3b22d665a7ede6e631812d5d88cb81a6b6fcadf9546d0ba559026677491ec03&w=1380");
    background-repeat: no-repeat;
    background-size: cover;
}

.main-container{
    background: #000000;
    opacity: 0.5;
    border-radius: 20px;
    padding: 20px;
    width: 95%;
    max-width: 450px;
}

input{
    border: none;
    outline: none; /*borda que fica ao redor da caixa de pesquisa*/
    padding: 10px;
    border-radius: 20px;
    font-size: 18px;
    background-color: #7c7c7c2b;
    color: #ffffff;
    width: calc(100% - 70px);
}

.btn-busca{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #7c7c7c2b;
    cursor: pointer;
    float: right;
}

.img-busca{
    width: 20px;
}

.caixa-media{
    margin-top: 30px;
}

.cidade{
    color: #ffffff;
    font-size: 28px;
    font-weight: 300;
}

.temperatura{
    font-size: 20px;
    color: #ffffff;
    margin-top: 20px;
}

.weather-container{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.texto-previsao{
    color: #ffffff;
    margin-left: 20px;
    text-transform: capitalize;
}

.umidade{
    color: #ffffff;
    margin-top: 20px;
}